<h5>Cadastro de Produtos</h5>
<p>Preencha os campos para incluir um produto.</p>

<form>
  <div class="row mb-3">
    <!--mb margem inferior -->
    <div class="col-md-6">

      <label>Nome do Produto:</label>
      <input type="text" class="form-control" />
    </div>
    <div class="col-md-3">

      <label> Preço :</label>
      <input type="text" class="form-control" />
    </div>
    <div class="col-md-3">

      <label>Quantidade</label>
      <input type="text" class="form-control" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
    <label>Descrição do Produto:</label>
    <input type="text" class="form-control" />
  </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">

    <input type="submit" class="btn btn-success" value="Realizar Cadastro"/>
  </div>
  </div>

</form>